$primary: #483bb1;
$primary-shade-1: #b2abf8;
$secondary: #3a3a3b;
$secondary-shade-1: #4f4b4b;
$success: #51c83b;
$success-shade-1: #51c83b;
$info: #2b67ef;
$warning: #ff6302;
$danger: #d93535;
$light-shade-1: #a0a0a0;
$light-shade-2: #edf9eb;
$light-shade-3: #f1faf1;
$hover-shade-1: #729fe3;
$opacity-overlay: #eae5f0c2;
$opacity-overlay-dark: #483BC8;
//font
$font-size-base: 1.6rem;
// spaces
$spacer: 0.1rem;
$spacers: (
  0: 0,
);