@import "assets/style/common-utils/vars.scss";
@import "assets/style/common-utils/font-typo.scss";
@import "assets/style/common-utils/spacing.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "assets/style/components/button";
@import "assets/style/components/header";
@import "assets/style/components/form";

* {
  font-family: "Janna";
}

html {
  font-size: 62.5%;
  body {
    box-sizing: border-box;
    display: block;
    overflow-x: hidden;
  }
  :root{
    font-size: 1.6rem;
  }
}
