@font-face {
    font-family: "Janna";
    src: url("../../fonts/Janna/Janna-Regular.ttf") format("truetype"),
      url("../../fonts/Janna/Janna-Bold.ttf") format("truetype");
    font-style: normal;
  }
  